@page "/latestrates"

<h1>Latest rates</h1>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Base currency code</span>
    </div>
    <input type="text"
           class="form-control"
           aria-label="Small"
           aria-describedby="inputGroup-sizing-sm"
           @bind="baseCurrencyCode"
           placeholder="e.g., USD">
</div>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Destination currency codes</span>
    </div>
    <input type="text"
           class="form-control"
           aria-label="Small"
           aria-describedby="inputGroup-sizing-sm"
           @bind="destinationCurrencyCodes"
           placeholder="e.g., EUR,GBP,USD">
</div>

<button type="button" class="btn btn-primary" @onclick="LoadData">Load</button>

@if (hasData)
{
    <ul>
        <li>Base: @latestRates.BaseCurrencyCode</li>
        <li>Date: @latestRates.Date</li>
        <li>Timestamp: @latestRates.Timestamp</li>
    </ul>

    <table class="table">
        <thead>
            <tr>
                <th>Currency code</th>
                <th>Exchange rate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rate in latestRates.Rates)
            {
                <tr>
                    <td>@rate.CurrencyCode</td>
                    <td>@rate.ExchangeRate</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (hasError)
{
    <div class="alert alert-danger" role="alert">@error</div>
}
